@media (min-width: 600px) {
	#sidebar {

		grid-template-columns: 1fr 1fr;
	}

	.card {
		margin: 10%;
	}

	#sidebar h2 {
		grid-area: 1/1/1/3;
	}
}

@media (min-width: 1200px) {
	#sidebar {
		display: initial;
		margin: auto 0 auto 30px;
		height: 800px;
		overflow-y: scroll;
		grid-area: sd;
	}

	#sidebar h2 {
		font-size: calc(1.5em + 1.5vw);
	}

	#sidebar h3 {
		font-size: calc(1em + 1.2vw);
	}

	#sidebar p {
		font-size: calc(0.8em + 1vw);
	}

	#sidebar a {
		font-size: 18px;
	}

}