@import 'navbar.css';
@import 'footer.css';
@import 'sidebar.css';
@import 'header.css';
@import 'main.css';
@import './queries/main-queries.css';
@import './queries/side-queries.css';
@import './queries/nav-queries.css';
@import './queries/head-queries.css';
@import './queries/foot-queries.css';


body {
	margin: 0;
	padding: 0;
	background: white;
}

/*Font*/

hd,
h2,
h3,
p {
	margin: 0;
	font-size: calc(0.8em + 1.2vw);
	font-family: Georgia, serif;
}

h1 {
	font-size: calc(2em + 2vw);
	text-align: center;
	font-weight: bold;
}

h2 {
	font-size: calc(1.5em + 2vw);
	text-align: center;
}

h3 {
	font-size: calc(1em + 2vw);
	text-align: center;
}

.fab {
	text-decoration: none;
	color: blue;
	font-size: 20px;
	margin: 10px;
}

.author-info img {
	float: right;
	display: block;
	margin-top: -200px;
	max-width: 20%;
}

/*Media queries for index.css */

@media (min-width: 1200px) {
	body {
		display: grid;
		grid-template-areas:
			'hd hd hd hd hd hd hd hd hd hd hd'
			'mn mn mn mn mn mn mn mn sd sd sd'
			'ft ft ft ft ft ft ft ft ft ft ft';
	}
}
