#main {
	display: flex;
	padding: 30px;
	justify-content: center;
}

#main-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #bcbcbc;
	padding: 10px;
	-webkit-box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.75);
	box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.75);
}

#main h2 {
	margin: 20px;
}

#main p {
	line-height: 1.25;
}

#main img {
	width: 100%;
	padding: 10px;
}

#button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
	float: right;
	padding: 10px;
	margin: 10px;
	background: orange;
	font-size: calc(0.5em + 1vw);
	font-weight: bold;
}

figure {
	width: 60%;
	display: block;
	float: left;
    margin: 10px;
}

figure figcaption {
    text-align: center;
}

q {
	color: darkgreen;
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
}