#main {
	display: flex;
	padding: 30px;
	justify-content: center;
}

#main-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #bcbcbc;
	padding: 10px;
	-webkit-box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.75);
	box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.75);
}

#main h2 {
	margin: 10px;
}

#main p {
	line-height: 1.75;
}

#main img {
	width: 100%;
	padding: 10px;
}

#main button {
	float: right;
	padding: 20px;
	margin: 10px;
	background: orange;
	font-size: calc(0.7em + 1vw);
	font-weight: bold;
}